@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(to right, #00bf8f, #001510);
}
main{
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  padding-bottom: 16px;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 1rem 1rem;
  background-color: #ffa000;
  
  button {
    cursor: pointer;
    background-color: #ffa000;
    color: #ffffff;
    padding: 1rem 3rem;
    border: none;
    overflow: hidden;
    margin: 0 10px;
  }

  .activeBtn {
    position: static;
    display: flex;
    font-weight: 400;
    background-color: #e65100;
    color: white;
    border: none;
    border-radius: 12px;
  }
}

.used-image {
  display: grid;
  // gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.content {
  // padding: 0%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  color: #ffa000;
}

// .all-cards{
//   display: flex;
//   flex-direction: row;
//   background-color: #e65100;
// }
.cards {
  margin-top: 1rem;
  padding: 30px;
  background-color: #3d00d8;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.card {
  border: 1px solid #ffa500;
}

.products{
  color: #fff;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

a {
   text-decoration: none;
  h1{
    color: #ffa000;
    
  }
}
