@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 35rem;
  justify-content: space-between;
}

main{
  display: flex;
  flex-direction: column;
}

.content{
  margin-top: 1.5rem;
  
}.description{
    font-weight: 200;
    margin-top: 5px;
  }

button {
  text-wrap: nowrap;
  cursor: pointer;
  background-color: #ffa500;
  color: #ffffff;
  padding: 1rem 3rem;
  border: none;
  overflow: hidden;
  display: flex;
  overflow: hidden;
}

.activeBtn {
  position: static;
  display: flex;
  font-weight: 400;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 25px;
}


.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffa500;
  padding: 1rem 1rem;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
